@mixin main {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@mixin generalBody {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
    background: linear-gradient((rgb(47, 150, 163)), rgb(48, 62, 143));
  }
}

@mixin loc_temp {
  .location,
  .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
