@import "mixins";

@include main;
@include generalBody;
@include loc_temp;

.temperature {
  flex-direction: column;
  .degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      margin: 10px;
      font-size: 30px;
    }
    h2 {
      font-size: 40px;
    }
  }
}
